# Node modules
/node_modules/

# Rollup output directory
/public/build/

.DS_Store

# Electron build output
out/

# Python virtual environments
/public/brain/.venv

# Python bytecode cache
**/__pycache__